:root {
  --mainBlack: #000000;
  --mainYellow: #f2d43a;
  --mainWhite: #ffffff;
  --mainBlue: #0e4ef3;
  --mutedBlue: #1d4481;
  --mainGrey: #464b52;

  /* change this to update the base unit of rem */
  --baseFontSize: 10px;
  --baseFont: "Times New Roman", times, serif;

  /* set min and max for different typography level */
  /* calculate font size dynamically for medium size screens */
  /*  minfotsize + (maxfontsize - minfontsize) * (100vw - minscreensize)/maxscreensize - minscreensize      */
  --h2MinFontSize: 30px;
  --h2FontSize: calc(var(--h2MinFontSize) + 5.83 * (1vw - 4.8px));
  --h2MaxFontSize: 72px;

  --h3MinFontSize: 20px;
  --h3MaxFontSize: 56px;

  --h4MinFontSize: 18px;
  --h4MaxFontSize: 30px;

  --h5MinFontSize: 16px;
  --h5MaxFontSize: 21px;

  --h6MinFontSize: 14px;
  --h6MaxFontSize: 18px;

  --pMinFontSize: 12px;
  --pFontSize: calc(var(--pMinFontSize) + 0.556 * (1vw - 4.8px));
  --pMaxFontSize: 16px;

  --letterSpacing: -0.02em;

  /* page-related universal setting */
  --pageTop: 12rem;
}

html {
  font-size: 10px;
  color: var(--mainBlack);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--baseFont);
  font-weight: normal;
  margin: 0;
  letter-spacing: var(--letterSpacing);
}

h2 {
  font-size: var(--h2MinFontSize);
  line-height: 111%;
}

h3 {
  font-size: var(--h3MinFontSize);
  line-height: 114%;
}

h4 {
  font-size: var(--h4MinFontSize);
  line-height: 110%;
}

h5 {
  font-size: var(--h5MinFontSize);
  line-height: 190%;
  text-transform: uppercase;
  font-weight: bold;
}

h6 {
  font-size: var(--h6MinFontSize);
  line-height: 110%;
}

p {
  font-size: var(--pMinFontSize);
}

.blue-text {
  color: var(--mainBlue);
}

.bold-text {
  font-weight: bold;
}

/* set up background image */
.backgroundImage {
  position: absolute;
  z-index: -1;
  max-width: 32vw;
}

.imageTop {
  position: absolute;
  top: 1.69%;
  right: 0;
}

.imageBottom {
  left: 0;
  position: absolute;
  bottom: 1.69%;
}

@media screen and (max-width: 480px) {
  /* phone */
  html {
    font-size: 4px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  /* tablet */
  html {
    font-size: 0.83vw;
  }

  h2 {
    font-size: var(--h2FontSize);
  }
  h3 {
    font-size: calc(var(--h3MinFontSize) + 5 * (1vw - 4.8px));
  }
  h4 {
    font-size: calc(var(--h4MinFontSize) + 1.666667 * (1vw - 4.8px));
  }
  h5 {
    font-size: calc(var(--h5MinFontSize) + 0.7 * (1vw - 4.8px));
  }

  h6 {
    font-size: calc(var(--h6MinFontSize) + 0.556 * (1vw - 4.8px));
  }
  p {
    font-size: var(--pFontSize);
  }
}

@media screen and (min-width: 1200px) {
  /* desktop and above */
  h2 {
    font-size: var(--h2MaxFontSize);
  }
  h3 {
    font-size: var(--h3MaxFontSize);
  }
  h4 {
    font-size: var(--h4MaxFontSize);
  }
  h5 {
    font-size: var(--h5MaxFontSize);
  }

  h6 {
    font-size: var(--h6MaxFontSize);
  }
  p {
    font-size: var(--pMaxFontSize);
  }
}
